<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riven_chris.mvvm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sample.PagingActivity"></activity>
        <activity android:name=".sample.MediatorLiveDataActivity" />
        <activity android:name=".sample.IncludeActivity" />
        <activity android:name=".sample.EventHandlingActivity" />
        <activity android:name=".MVVMActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".sample.SampleActivity"
            android:label="@string/title_activity_sample"
            android:parentActivityName=".base.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.riven_chris.mvvm.base.BaseActivity" />
        </activity>
    </application>

</manifest>